<?xml version="1.0"?>
<!--
/**
 * Test Service Grid routes xml

 * @package   Custom_Service
 * @author    ClaudioC


 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="service" frontName="service">
            <module name="Custom_Service" />
        </route>
    </router>
</config>
